@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
    font-family: "Poppins", sans-serif;
    background: white;
    background: url("../images/background.jpg");
}

.box-area {
    width: 930px;
}

.right-box {
    padding: 50px 40px 50px 50px;
}

::placeholder {
    font-size: 16px;
}
.rounded-4 {
    border-radius: 20px;
}
.rounded-5 {
    border-radius: 30px;
}
.custom-button {
    background: linear-gradient(90deg, #0f7dc2, #004476);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.custom-button:hover {
    background: linear-gradient(90deg, #004476, #0f7dc2);
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.signup-btn {
    color: #004476;
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-btn:hover {
    color: #0f7dc2;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .left-box {
        height: 100px;
        overflow: hidden;
    }
    .right-box {
        padding: 20px;
    }
}
