@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    font-family: "Poppins", sans-serif;
    background: url("../images/background.jpg");
}

form {
    border-radius: 20px;
    margin-top: 150px !important;
    width: 40% !important;
    height: 700px !important;
    background-color: white !important;
    padding: 50px;
}
.bold-text {
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #0000ff;
}

.form-control {
    color: rgba(0, 0, 0, 0.87);
    border-bottom-color: rgba(0, 0, 0, 0.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.form-label {
    font-weight: 800 !important;
}

.bold-text {
    white-space: nowrap;
}

.login-link {
    text-align: center;
}

.no-underline {
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
        height: auto !important;
    }
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #0066cc;
}

.form-control {
    color: rgba(0, 0, 0, 0.87);
    border-bottom-color: rgba(0, 0, 0, 0.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.form-label {
    font-weight: 800 !important;
}
.bold-text {
    white-space: nowrap;
}
.login-link {
    text-align: center;
}

.no-underline {
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
}
